name: CI Tutorial

on:
  push:
    branches:
      - main

jobs:
  "run jest tests":
    runs-on: cs5500-self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npx jest tests/